flask
gunicorn
werkzeug

numpy==1.26.4
pandas==2.2.2
scikit-learn==1.4.2
PyPDF2

spacy==3.7.5
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz
